@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	 url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
	 url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	 url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
	 url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
body{
    margin: auto;
    font-family: 'Gilroy-Medium', sans-serif;
}
.text{
    color: #070707;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy-Medium', sans-serif;
}
.wrap{
    width: 944px;
    margin: auto;
    padding: 0;
    /* background: red; */
}
/* ---------------Header START-------------- */
/* .menu__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    list-style: none;
} */
.menu{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}
.menu__link{
    text-decoration: none;
    font-weight: 700;
    color: #828282;
}
.menu__link:hover{
    color: #000;
}
.header__line{
    width: 944px;
    height: 1px;
    background: #828282;
    margin: 0;
    margin-top: 34px;
}
/* ----------------Header END---------------- */
/* ----------------Main START---------------- */
/* section main__man */
.main__man{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}
.man__name{
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    font-weight: 700;
    color: #070707;
    width: 124px;
}
.man__detail{
    width: 138px;
    margin-top: 50px;
}
.lang__link_ru{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}
.lang__link_ru:hover{
    color: #828282;
}
.lang__link_eng{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}
.lang__link_eng:hover{
    color: #828282;
}
.language{
    transform: rotate(-90deg);
}
.big_photo{
    margin-top: 40px;
}
/* section about_me */
.main__about_me{
    margin-top: 140px;
    background: #F6F6F6;
}
.about_me__title{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 35px;
}
.about_me__describe{
    width: 485px;
    white-space: pre-line;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    margin: auto;
    padding-bottom: 122px;
}
/* section skills */
.main__skills{
    margin-top: 60px;
}
.skills__title{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 68px;
}
.skills__text{
    text-align: center;
    margin-bottom: 90px;
}
.skills__program{
    display: flex;
    justify-content: space-between;
}
/* section portfolio */
.main__portfolio{
    background: #F6F6F6;
    margin-top: 85px;
    padding-top: 112px;
}
.portfolio__title{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}
.portfolio__first_img{
    margin-top: 64px;
    margin-bottom: 45px;
}
.portfolio__text{
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
}
.portfolio__second_img{
    margin-top: 104px;
    margin-bottom: 45px;
}
.portfolio__third_img{
    margin-top: 102px;
    margin-bottom: 45px;
}
.indent{
    padding-bottom: 102px;
}
/* ------------main END---------- */
/* --------footer START----------- */
.footer{
    margin-top: 116px;
}
.footer__title{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 37px;
}
.footer__text{
    width: 260px;
    line-height: 22px;
    text-align: center;
    margin: auto;
}
.button__wrap{
    display: flex;
    justify-content: center;
}
.button{
    margin: auto;
    margin-top: 37px;
    width: 180.5px;
    height: 42px;
    border-radius: 50px;
    background: #070707;
    color: #Fff;
    border-color: #070707;
    outline: none;
    cursor: pointer;
}
.button:hover{
    background: #Fff;
    color: #070707;
    transition: all 0.3s ease;
}
.button:active{ 
    background: #cecaca;
}
.social{
    width: 342px;
    margin: auto;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}
.subtext__wrap{
    margin: auto;
}
.footer__subtext{
    margin-top: 50px;
    margin-bottom: 125px;
    font-size: 14px;
    line-height: 17px;
    
    color: #828282;
    /* white-space: pre-wrap; */
    text-align: center;
}
/* --------footer END----------- */